<!-- Footer -->
<footer class="footer-main">
    <div class="footer-container">
        <div class="footer-contact-button">

        </div>
        
        <div class="footer-content">
            <!-- About Us Bölümü (Yukarıda) -->
            <div class="footer-about">
                <h3 class="footer-title">Hakkımızda</h3>
                <p class="footer-text">2009 yılından bu yana KOBİ ve Kamu Kurumlarına yönelik programlar dahilinde kurum ve kuruluşlara ihtiyaçları odaklı olarak çeşitli alanlarda proje hazırlama ve yönetimine
                    yönelik proje sahibi ile koordineli bir çalışma ile profesyonel bir destek sağlamaktadır...</p>
                <a href="firma-hakkinda.html" class="footer-view-more">Devamını Oku <i class="footer-icon-arrow"></i></a>
            </div>
            
            <!-- Contact Bölümü (Yukarıda) -->
            <div class="footer-contact">
                <h3 class="footer-title">Bize Ulaşın</h3>
                <h2 class="footer-phone">+90 (232) 445 20 55</h2>
                <p class="footer-contact-info"><i class="footer-icon-location"></i> İsmet Kaptan Mahallesi Şair Eşref Bulvarı Montrö İş Merkezi
                    No :35/1 Kat: 6 İç Kapı No: 71 | Konak - İzmir</p>
                <p class="footer-contact-info"><i class="footer-icon-email"></i>info@planetyazilim.com</p>
                
                <div class="footer-social">
                    <a href="#" class="footer-social-icon"><i class="footer-icon-facebook"></i></a>
                    <a href="#" class="footer-social-icon"><i class="footer-icon-twitter"></i></a>
                    <a href="#" class="footer-social-icon"><i class="footer-icon-linkedin"></i></a>
                </div>
            </div>
            
            <!-- Navigation Bölümü (Altta) -->
            <div class="footer-navigation">
                <div class="footer-nav-column">
                    <h3 class="footer-title">BLOG</h3>
                    <ul class="footer-nav-list">
                        <li><a href="#"><i class="footer-icon"></i> Blog Kaynaklar</a></li>
                        <li><a href="#"><i class="footer-icon"></i> Blog makaleler</a></li>
                        <li><a href="#"><i class="footer-icon"></i> Blog Videolar</a></li>
                    </ul>
                </div>
                
                <div class="footer-nav-column">
                    <h3 class="footer-title">HIZLI ERİŞİM</h3>
                    <ul class="footer-nav-list">
                        <li><a href="index.html"><i class="footer-icon"></i>ANASAYFA</a></li>
                        <li><a href="projelendirme.html"><i class="footer-icon"></i>HİZMETLERİMİZ</a></li>
                        <li><a href="tum-urunler.html"><i class="footer-icon"></i>ÜRÜNLER</a></li>
                        <li><a href="basari-hikayeleri.html"><i class="footer-icon"></i>REFERANSLAR</a></li>
                        <li><a href="iletisim.html"><i class="footer-icon"></i>İLETİŞİM</a></li>
                    </ul>
                </div>
                
                <div class="footer-nav-column">
                    <h3 class="footer-title">ŞİRKET PORTFOLYO</h3>
                    <ul class="footer-nav-list">
                        <li><a href="firma-hakkinda.html"><i class="footer-icon"></i> HAKKINDA</a></li>
                        <li><a href="tarihce.html"><i class="footer-icon"></i> TARİHÇE</a></li>
                        <li><a href="ekibimiz.html"><i class="footer-icon"></i> EKİBİMİZ</a></li>
                        <li><a href="basari-hikayeleri.html"><i class="footer-icon"></i> BAŞARI HİKAYESİ</a></li>
                        <li><a href="musteri-yorumlari.html"><i class="footer-icon"></i> MÜŞTERİ YORUMLARI</a></li>
                    </ul>
                </div>
                
                <div class="footer-nav-column">
                    <h3 class="footer-title">EKSTRA</h3>
                    <ul class="footer-nav-list">
                        <li><a href="#"><i class="footer-icon"></i> SERVİSLER</a></li>
                        <li><a href="#"><i class="footer-icon"></i> KARİYER</a></li>
                        <li><a href="#"><i class="footer-icon"></i> S.S.S.</a></li>
                        <li><a href="#"><i class="footer-icon"></i> GİZLİLİK SÖZLEŞMESİ</a></li>
                        <li><a href="#"><i class="footer-icon"></i> ÇEREZ YÖNETİMİ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="footer-container">
            <div class="footer-copyright">
                <div class="footer-logo">
                    <img src="img/details-logo.png" alt="Orbitie">
                </div>
                <p class="footer-copyright-text">© Copyright 2025. Tüm hakları saklıdır..</p>
            </div>
            <div class="footer-logo2">
                <a href="https://artwebtasarim.com.tr/"><img src="img/artweb_logo.svg" alt="Orbitie"></a>
            </div>

            <div class="footer-bottom-links">
                <a href="site-haritasi.html">Site Haritası</a>
                <a href="iletisim.html">Bize Ulaşın</a>
            </div>
        </div>
    </div>
</footer> 